<!doctype html>
<html>
<head>
    <title>Formulário de Login</title>
</head>
<body>
    {% if mensagem %}
    <p style="color: red;">{{ mensagem }}</p>
    {% endif %}

    <form action="{{ url_for('formulario') }}" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome">
        <br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha">
        <br>
        <input type="submit" value="Entrar">
    </form>
</body>
</html>